<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
    <mapping class="com.student.transaction.domain.Student" />
    <mapping class="com.student.transaction.domain.Account" />
    <mapping class="com.student.transaction.domain.Budgetbalance" />
    <mapping class="com.student.transaction.domain.BudgetCategory" />
    <mapping class="com.student.transaction.domain.Merchant" />
    <mapping class="com.student.transaction.domain.Budget" />
    <mapping class="com.student.transaction.domain.Transaction" />
    <mapping class="com.student.transaction.domain.TransactionType" />
    <mapping class="com.student.transaction.domain.TransactionAmount" />
    </session-factory>
</hibernate-configuration>
